*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.navbar-wrapper{
    overflow: hidden;
    position: fixed;
}
#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5d4954;
    position: fixed;
    width: 100%;

}
.logo{
    color: rgb(146, 143, 143);
    letter-spacing: 3px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
.nav-links{
    list-style: none;
    font-family: 'Roboto', sans-serif;
}
li a{
    text-decoration: none;
    color: rgb(146, 143,143);
    font-family: 'Roboto', sans-serif;
    margin-right: 20px;
}
li a:hover{
    color:bisque;
}
#welcome-section{
    display: flex;
    flex-direction: column;
    background-color: rgb(233, 229, 224);
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}
#projects{
    background-color: rgb(233, 229, 224);
    padding: 32px 0;
    margin-top: 1rem;       /*REMOVE WHEN FINISHED*/
}
.project-pic{
    width: 60%;
    height: 65%;
}
.projects-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.project-title{
    text-align: center;
    margin-bottom: 1rem;
}
.project-container{
    text-align: center;
    width: 21rem;
    padding: 1rem;
}
.project-container p{
    padding: 0.4rem;
}
.project-title{
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
.projects-title{
    text-align: center;
    margin-bottom: 2rem;
}
.project-container a{
    text-decoration: none;
    color: black;
}
@media (min-width:100px) and (max-width: 1024px)